In [ ]:
from rs_datasets import Amazon
import ssl
import urllib.request

# Crea un contexto SSL que no verifica certificados
context = ssl._create_unverified_context()

# Reemplazar el opener global de urllib para que use el contexto SSL inseguro
opener = urllib.request.build_opener(urllib.request.HTTPSHandler(context=context))
urllib.request.install_opener(opener)

amazon = Amazon('cards')
amazon.info()

ratings

      user_id         item_id  rating   timestamp
0  B001GXRQW0   APV13CM0919JD     1.0  1229644800
1  B001GXRQW0  A3G8U1G1V082SN     5.0  1229472000
2  B001GXRQW0   A11T2Q0EVTUWP     5.0  1229472000

In [2]:
amazon.ratings.to_csv('ratings_practica2.csv')

In [3]:
import pandas as pd

df = pd.read_csv('ratings_practica2.csv', index_col= 0)
df

           user_id         item_id  rating   timestamp
0       B001GXRQW0   APV13CM0919JD     1.0  1229644800
1       B001GXRQW0  A3G8U1G1V082SN     5.0  1229472000
2       B001GXRQW0   A11T2Q0EVTUWP     5.0  1229472000
3       B001GXRQW0   A9YKGBH3SV22C     5.0  1229472000
4       B001GXRQW0  A34WZIHVF3OKOL     1.0  1229472000
...            ...             ...     ...         ...
147189  B01H5PPJT4  A2K9WVQW9TLWNK     5.0  1536969600
147190  B01H5PPJT4  A149ALSR6TPGF7     4.0  1536278400
147191  B01H5PPJT4  A2Q066NZCQSCOR     5.0  1535500800
147192  B01H5PPJT4  A1KJLWCW7XBS8I     5.0  1534550400
147193  B01H5PPJT4   ANABUB0FRZXRM     5.0  1534204800

[147194 rows x 4 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['item_id'] = le.fit_transform(df['item_id'])
df['user_id'] = le.fit_transform(df['user_id'])

In [5]:
df

        user_id  item_id  rating   timestamp
0             2   119305     1.0  1229644800
1             2    83531     5.0  1229472000
2             2     1736     5.0  1229472000
3             2   104298     5.0  1229472000
4             2    72672     1.0  1229472000
...         ...      ...     ...         ...
147189     1547    53219     5.0  1536969600
147190     1547     4061     4.0  1536278400
147191     1547    58495     5.0  1535500800
147192     1547    19488     5.0  1534550400
147193     1547   116882     5.0  1534204800

[147194 rows x 4 columns]

In [6]:
df.drop_duplicates(subset= ['user_id', 'item_id'], inplace= True)

In [7]:
df.to_csv('ratings_bien.csv', index= False)